<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean Definition for UserService -->
    <bean id="user1" class="User">
        <constructor-arg value="Supratim"/>
        <constructor-arg value="23"/>
    </bean>

    <bean id="user2" class="User">
        <constructor-arg value="Shreyas"/>
        <constructor-arg value="22"/>
    </bean>

    <bean id="userService" class="UserService">
        <property name="userList">
            <list>
                <ref bean="user1"/>
                <ref bean="user2"/>
            </list>
        </property>
    </bean>

</beans>